* {
    background-color: aquamarine;
    font-family: Helvetica, Arial, sans-serif;
    box-sizing: border-box;
}

h1 {
    color: blueviolet;
}

.links {
    border-style: ridge;
    border-color: darkgray;
}

.front-link {
    display: block;
    padding: 5px;
    border: 2px;
    border-style: dotted;
    border-color: brown;
    margin: 5px;
}

.description {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: brown;
}

ol li{
    background-color: lightgray;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: darkblue;
    font-size: 22px;
}

.steps {
    background-color: black;
    color: white;
}

img {
    height: auto;
    width: 500px;
}